/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Utilities */
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 10px 24px 10px 24px;
  background: #e02c6d;
  border: none;
}

/* Navbar section styles */
.header {
  width: 90%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}

.menu {
  display: none;
  color: #3a3a3a;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 34px;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #3a3a3a;
}

/* Banner section */
.banner-section {
  height: 60vh;
  display: flex;
  justify-content: space-between;
  /* background-image: url("../images/main-camera.png"),
    url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 28%;
  margin-top: 50px; */
  margin-top: 50px;
}

.banner-info {
  width: 50%;
  padding-top: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
}

.banner-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  margin: 16px 0;
  width: 70%;
}

.btn-prebook {
  border-radius: 41px;
}

.banner-img {
  width: 50%;
  background-image: url("../images/main-camera.png"),
    url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: top 20% right 10%;
  background-size: 50%;
}

/* Brand logo styles */
.brand-logo {
  width: 70%;
  margin: auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* Responsive section styles */
@media only screen and (max-width: 576px) {
  .nav {
    margin-top: 35px;
  }
  .menu {
    display: block;
  }
  .item-hide {
    display: none;
  }
  /* banner styles */
  .banner-section {
    flex-direction: column-reverse;
    gap: 10px;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  .banner-info {
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .banner-title {
    font-weight: 700;
    font-size: 28px;
  }

  .banner-subtitle {
    font-size: 14px;
    line-height: 21px;
    margin: auto;
    margin-bottom: 20px;
  }

  .banner-img {
    gap: 20px;
    width: 100%;
    height: 60%;
    background-size: 100%;
  }
  /* Brand  */
  .brand-logo {
    grid-template-columns: repeat(4, 1fr);
  }
  .brand-logo img {
    width: 33.38px;
    height: 18.84px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* nav */
  .nav {
    margin-top: 35px;
  }
  .menu {
    display: block;
  }
  .item-hide {
    display: none;
  }
  /* banner */
  .banner-section {
    height: 40vh;
  }
  .banner-title {
    font-weight: 700;
    font-size: 28px;
  }

  .banner-subtitle {
    font-size: 14px;
    line-height: 21px;
    /* margin: auto; */
    margin-bottom: 20px;
  }
  .banner-img {
    gap: 20px;
    background-size: 70%;
  }
  /* Brand */
  .brand-logo {
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  .m-logo {
    margin-left: 50px;
  }
  .brand-logo img {
    margin-bottom: 20px;
  }
}
