/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Utilities */
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 10px 24px 10px 24px;
  background: #e02c6d;
  border: none;
}

/* Navbar section styles */
.header {
  width: 90%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}

.menu {
  display: none;
  color: #3a3a3a;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 34px;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #3a3a3a;
}

/* Banner section */
.banner-section {
  height: 60vh;
  display: flex;
  justify-content: space-between;
  /* background-image: url("../images/main-camera.png"),
    url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 28%;
  margin-top: 50px; */
  margin-top: 50px;
}

.banner-info {
  width: 50%;
  padding-top: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
}

.banner-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  margin: 16px 0;
  width: 70%;
}

.btn-prebook {
  border-radius: 41px;
}

.banner-img {
  width: 50%;
  background-image: url("../images/main-camera.png"),
    url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: top 20% right 10%;
  background-size: 50%;
}

/* Brand logo styles */
.brand-logo {
  width: 70%;
  margin: auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* Popular collection styles */
/* .popular {
  width: 100%;
  margin: auto;
} */
.popular-title {
  font-weight: 600;
  font-size: 28px;
  margin: 100px 0 30px;
  text-align: center;
  color: #3a3a3a;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 70%;
  margin: auto;
}

.collection-item {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 14px;
}

.collection-img img {
  width: 100%;
}

.collection-title {
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
}

.collection-price {
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}

.fa-solid {
  color: #fb8200;
}

.collection-subtitle {
  font-weight: 700;
  font-size: 14px;
  color: #787885;
}

.see-more,
#arrow {
  font-weight: 700;
  font-size: 16px;
  color: rgba(224, 44, 109, 0.87);
  text-align: right;
  margin-right: 120px;
  margin-top: 10px;
}

/* Featured Products styles */
.featured {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  margin: auto;
  margin-top: 100px;
}

.featured-title {
  font-weight: 700;
  font-size: 38px;
  color: #0a0826;
}

.featured-subtitle {
  font-weight: 700;
  font-size: 16px;
  color: #6c6c6c;
  margin: 16px 0;
}

.btn-join,
#join {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
/* Footer section */
.footer {
  width: 100%;
  background: #0a0826;
  padding: 50px 0;
  text-align: center;
  margin-top: 100px;
}
.footer-title {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.copy {
  font-weight: 700;
  font-size: 14px;
  color: #d9dbe1;
}

.all {
  font-weight: 700;
  font-size: 14px;
  color: #d9dbe1;
  margin-bottom: 10px;
}

.social {
  margin-right: 16px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
}

.fa-brands {
  color: #0a0826;
}

/* Responsive section styles */
@media only screen and (max-width: 576px) {
  .nav {
    margin-top: 35px;
  }
  .menu {
    display: block;
  }
  .item-hide {
    display: none;
  }
  /* banner styles */
  .banner-section {
    flex-direction: column-reverse;
    gap: 10px;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  .banner-info {
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .banner-title {
    font-weight: 700;
    font-size: 28px;
  }

  .banner-subtitle {
    font-size: 14px;
    line-height: 21px;
    margin: auto;
    margin-bottom: 20px;
  }

  .banner-img {
    gap: 20px;
    width: 100%;
    height: 60%;
    background-size: 100%;
  }
  /* Brand  */
  .brand-logo {
    grid-template-columns: repeat(4, 1fr);
  }
  .brand-logo img {
    width: 33.38px;
    height: 18.84px;
    margin-bottom: 20px;
  }
  /* Popular collection */
  .collections {
    grid-template-columns: repeat(1, 1fr);
  }
  .see-more,
  #arrow {
    margin-right: 30px;
  }
  /* Featured section */
  .featured {
    flex-direction: column-reverse;
  }
  .featured-details {
    text-align: center;
  }
  .featured-title {
    font-weight: 700;
    font-size: 24px;
    color: #0a0826;
  }
  .featured-img img {
    width: 100%;
    /* height: 188px; */
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* nav */
  .nav {
    margin-top: 35px;
  }
  .menu {
    display: block;
  }
  .item-hide {
    display: none;
  }
  /* banner */
  .banner-section {
    height: 40vh;
  }
  .banner-title {
    font-weight: 700;
    font-size: 28px;
  }

  .banner-subtitle {
    font-size: 14px;
    line-height: 21px;
    /* margin: auto; */
    margin-bottom: 20px;
  }
  .banner-img {
    gap: 20px;
    background-size: 70%;
  }
  /* Brand */
  .brand-logo {
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  .m-logo {
    margin-left: 50px;
  }
  .brand-logo img {
    margin-bottom: 20px;
  }
  /* Popular collection */
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
  .see-more,
  #arrow {
    margin-right: 50px;
  }
  /* Featured section */
  .featured {
    flex-direction: column-reverse;
  }
  .featured-details {
    text-align: center;
  }
  .featured-img img {
    width: 100%;
  }
}
